flask
flask-cors
fastapi
uvicorn
pymongo
pandas
scikit-learn
numpy
python-dotenv
requests
chromadb
google-generativeai
sentence-transformers
python-multipart
pdfplumber
langchain
langchain-community
langchain-text-splitters
google-genai